@import "tailwindcss";
body {
  overflow: hidden;
}

.content-box {
  padding: 18px;
  border: 1px solid rgba(0, 255, 255, 0.6);
  font-family: monospace;

  box-shadow:
    0 0 12px rgba(0, 255, 255, 0.35),
    inset 0 0 8px rgba(0, 255, 255, 0.2);
}
